
#card__container{
    background-color: #1b1c1d;
    width: 250px;
    height: fit-content;

}

.ui.card.content {
    padding-top: 0em;
}

.image {
    margin: 0;
}

.ui.inverted.segment {
    padding: 0;
}

#card__image{
    display: flex;
    justify-content: center;
}

#card__author{
    line-height: 0.5;
}

h3, .h3 {
    line-height: 0.5;
    color: beige;
}

h4, .h4 {
    margin: none;
    line-height: 0.5;
}

.small.centered.fluid.image.class__image {
    margin: 0;
}