.mobile {
  &__menu {
    position: absolute;
    left: 100%;
    top: 100%;
    width: 100%;
    height: calc(100vh - 100%);
    transition: left 0.3s ease-in-out;

    &.is-open {
      left: 0;
    }

    &.ui.menu {
      padding-block: 10%;
      margin: 0;
      border-radius: 0;
      overflow-y: auto;

      .item {
        padding: 2rem;
        text-align: center;
      }
    }
  }
}
