@use '../../../styles/variables' as v;


.ui.segment.inverted.header {
  border-radius: 0;
  display: flex;
  justify-content: space-between;
  align-self: center;
}
.ui.menu {
  justify-content: space-between;
}

.ui.stackable.inverted.menu.secondary.header__menu {
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.ui.menu .item > img:not(.ui).header__img {
 width: 7rem;
}
.ui.stackable.inverted.pointing.menu.secondary.header__menu .item {
  align-self: center;
  width: auto !important;
}