.ui.inverted.segment.profile {
  max-width: 1000px;
  height: fit-content;
  margin: 2rem;
  border-radius: 0.5rem;
}

.profile__accordion.accordion.ui.fluid.inverted.styled {
  width: 100%;
  background-color: black;
  border-radius: 0.5rem;
}
