.new-password {
  &.ui.inverted.segment {
    margin: 2rem;
    padding-inline: 3rem;
    background-color: black;
    border-radius: 0.5rem;
    max-width: 30rem;
  }
}

.ui.center.aligned.header.new-password__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
